body{
    background-image: url("../images/qbkls.png");
    margin: 0px;
}

.pageTitle{
    color: #4aaaa5;
    border-bottom: solid #777777;
    margin-left: 20px;
    margin-right: 20px;
}
#name{
    height: 45px;
    background-color: #4aaaa5;
    width: 200px;
    float: left;
    color: white;
    margin: 0px 0px 0px 90px;
    padding: 0px 5px 11px 6px;
}

header{
    height: 57px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #ffffff
}

.lower { 
    width: 650px;
    height: 480px;
    margin: 20px 0px 0px 90px;
    border: 1px solid #cccccc;
   /* background-image: url("/assets/images/qbkls.png");*/
    background-color: #ffffff;
}
.lower1{
    width: 650px;
    height: 610px;
    margin: 20px 0px 0px 90px;
    border: 1px solid #cccccc;
   /* background-image: url("/assets/images/qbkls.png");*/
    background-color: #ffffff;

}

#about{
    float: right;
    margin: 6px 5px 0px 0px;
}
#aboutBnt {
    height: 40px;
    width: 70px;
    font-size: 12pt;
    font-style: normal

}
#portfolio{
    float: right;
    margin: 6px 5px 0px 3px;
}
#portfolioBtn{
    height: 40px;
    width: 75px;
    font-size: 12pt;
    font-style: normal

}
#contact {
    float: right;
    margin: 6px 35px 0px 5px;
}
#contactBtn {
    height: 40px;
    width: 70px;
    font-size: 12pt;
    font-style: normal
    
}
#aboutprotcontBtns {
 float: right;
 width: 300px;
 background-color: #ffffff

}
#PortDisplay{
    height: 940px;
    width: 650px;
    margin: 20px 90px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
#prj1{
    position: relative;
    left: 30px;
    top: 100px;
}
#prj2{
    position: relative;
    left: 30px;
    top: 130px;
}
#prj3{
    position: relative;
    left: 30px;
    top: 160px
}
#prj4{
    position: relative;
    left: 340px;
    bottom: 543px

}
#prj5{
    position: relative;
    left: 340px;
    bottom: 512px;
}
input[type=submit]{
    font-size: 14pt;
    color: white; 
    background-color: green;  
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
#form1{
    margin-top: 5px;
}
.col-Lable {
    width: 5%;
    margin-left: 16px;
    color: #777777;
}
input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: #777777;
}
.col-input {
    width: 75%;
    margin-left: 16px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*#myimage{
    float: left;
}*/
#mystory {
    position: absolute;
    left: 340px;
    top: 200px;
    width: 320px;
    float: right;
    color: #777777;
}
#mystoryP2{
    color: #777777;
}

/* Responsive layout - when the screen is less than 768px and bigger than 640px*/
@media screen and (max-width: 768px){
    #name{
        margin-left: 30px;
    }  
    .lower{
        margin: 10px 0px 0px 30px;
        /*margin-left: 30px;*/
        width: 710px;
        height: 515px;
    
    }  
    #mystory{
        width: 410px;
        left: 280px;
    }  
    #PortDisplay{
        margin: 10px 0px 0px 30px;
    } 
}
/* Responsive layout - when the screen is less than 640px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    #name{
        width: 100%;
        text-align: center;
    }
    .lower{
        margin: 55px 0px 0px 30px;
        width: 535px;
        height: 830px;
    }
    .lower1 {
        height: 610px;
        width: 535px;
        margin: 55px 0px 0px 30px;
    }
    #mystory{
        position: unset;
        width: 95%;
        left: 0px;
        top: 0px;
    } 
    #mystoryP2{
        color: #777777;
        margin: 5%;
    } 
    #myPic{
        width: 475px;
        height: 360px;
        margin-left: 30px;
    }
    #aboutprotcontBtns {
        width: 100%;
    }
    #about{  
        margin: 6px 5px 0px 0px;
    }  
    #portfolio{
        margin: 6px 5px 0px 3px;
    }
    #contact {
        margin: 6px 180px 0px 5px;
    }
    #PortDisplay{
        margin: 55px 0px 0px 30px;
        height: 1100px;
        width: 450px;
       } 
    #prj1{
        position: relative;
        left: 30px;
        top: 5px;
        height: 290px;
        width: 390px;
    }
    #pic1{
        height: 290px;
        width: 390px;        
    }
    #prj2{
        position: relative;
        left: 30px;
        top: 30px;
        height: 290px;
        width: 390px;
    }
    #pic2{
        height: 290px;
        width: 390px;
    }
    #prj3{
        position: relative;
        left: 30px;
        top: 60px;
        height: 290px;
        width: 390px;
    }
    #pic3{
        height: 290px;
        width: 390px;
    }
    #prj4{
       visibility: hidden;
    }
    #prj5{
       visibility: hidden;
    }
}
